.top {
  background: url(https://i.imgur.com/dAqHxmc.jpg) 50% 20% no-repeat;
  background-size: cover;
}

.top__inner {
  position: absolute;
  top: 50%;
  left: var(--bs-gutter-x, 0.75rem);
  max-width: 450px;
  transform: translateY(-50%);
  @include media-breakpoint-down(lg) {
    max-width: 350px;
  }
  @include media-breakpoint-down(md) {
    top: 65%;
    max-width: 250px;
  }
}

.top__title {
  font-size: 4rem;
  padding-right: 3rem;
  border-right: 2px solid #fff;
  @include media-breakpoint-down(lg) {
    padding-right: 2rem;
    font-size: 3rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.scrollDown a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scrollDown a:hover {
  opacity: .5;
}

#scroll a {
  padding-top: 60px;
}
#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@-webkit-keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes line-scroll {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  80% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

// products
.top-products {
  background: #333;
  color: #fff;
}

.top-products-card {
  margin-bottom: 40px;
}

.top-products-card__link {
  text-decoration: none;
  position: relative;
  display: block;
  color: #fff;
  transition: 0.3s opacity;
  &:hover {
    color: #fff;
    opacity: 0.85;
  }
}

.top-products-card__media {
  & figcaption {
    text-align: right;
    display: block;
    padding-right: 25%;
    padding-top: 5px;
    font-size: 18px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}

.top-products-card__text {
  // writing-mode: vertical-lr;
  position: absolute;
  font-family: Montserrat, sans-serif;
  top: -45%;
  font-size: 2.5rem;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

// news
.top-news {
  background: #000;
  color: #fff;
  position: relative;
  &::after {
    content: "";
    background: url(../assets/images/news.png) no-repeat;
    position: absolute;
    width: 150px;
    height: 150px;
    right: 0;
    bottom: 0;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.top-news__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.top-news__title {
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
  & a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s opacity;
    &:hover {
      opacity: 0.8;
    }
  }
}

.top-news__item {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 100%;
}

.top-news__lists {
  padding-left: 0;
}

.top-news__list {
  list-style: none;
  background: url(../assets/images/news-repeat-bg.png);
  height: 38px;
  margin-bottom: 14px;
  line-height: 0;
  @include media-breakpoint-down(md) {
    height: 55px;
  }
}

.top-news__link {
  text-decoration: none;
  font-size: 14px;
  display: table;
  height: 38px;
  transition: 0.3s opacity;
  &:hover {
    opacity: 0.8;
  }
  @include media-breakpoint-down(md) {
    height: 55px;
  }
}

.top-news__date {
  text-align: center;
  display: table-cell;
  width: 100px;
  margin-right: 6px;
  height: inherit;
  vertical-align: middle;
}

.top-news__description {
  display: table-cell;
  max-width: 819px;
  height: inherit;
  vertical-align: middle;
  padding: 0 15px 0 25px;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    line-height: 1.5;
  }
}
